body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

.container {
    display: flex;
    height: 100vh;
}

.left-panel {
    flex: 1;
    /* Blue background */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 
}

.coun-image {
    max-width: 60%;
    min-height: 80px; /* Adjust as necessary */
    margin-bottom: 30px;
}

h1 {
    font-size: 29px;
    margin-top: 0px;
    margin-bottom: 0px;
}

p {
    font-size: 19px;
}

.options {
    display: flex;
    justify-content: flex-start; /* Align checkbox with label to the start (left) */
    margin-bottom: 20px; /* Remove space above the checkbox */
    margin-left: 25px;
}

.checkbox-label {
    display: flex;
    align-items: center; /* Vertically center the checkbox and text */
    margin: 0; /* Ensure there's no margin */
    white-space: nowrap;
    margin-top: -10px;
}

.right-panel {
    flex: 0.82;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

h2 {
    font-size: 35px;
    margin-bottom: 20px;
    margin-left: 30px;
}

.highlight {
    color: #000000cf;
    font-weight: bold; /* Optional: make the text bold */
}

.input-field {
    padding: 10px;
    margin:10px ;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 50%;
}

.forgot-password {
    margin: 10px 0;
    text-align: center;
}

.sign-in-btn {
    color: white;
    padding: 10px;
    margin:10px;
    background-color: #3674b5; /* Button color */
    border-radius: 10px;
    width: 40%;
    /* margin-left: 160px; */
    margin-top: -10px;
}

.sign-in-btn:hover {
    background-color: #ffffff; /* Hover effect */
}

#menuBtn{
    width: 46.17px;
}